<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_brooklyn">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRACTICE_P2PApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />


        <activity
            android:name="com.example.project_brooklyn.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.project_brooklyn.articlelist.AddArticleActivity" />
        <activity android:name="com.example.project_brooklyn.MainActivity" />
        <activity android:name="com.example.project_brooklyn.signinup.SignUpActivity" />
        <activity android:name="com.example.project_brooklyn.signinup.SignInActivity" />
        <activity android:name="com.example.project_brooklyn.signinup.LoginMethodActivity" />
        <activity android:name="com.example.project_brooklyn.signinup.BrooklynEmailSignInActivity" />
        <activity android:name="com.example.project_brooklyn.mypage.editprofile.DetailProfileActivity" />
        <activity android:name="com.example.project_brooklyn.articlelist.DetailArticleActivity" />
        <activity android:name="com.example.project_brooklyn.chatroom.ChatRoomActivity" />
    </application>

</manifest>